.column-1-background {
    background-color: rgb(103, 101, 101);
}

.column-2-background {
    background-color: rgb(140, 140, 140);
}

.column-3-background {
    background-color: rgb(205, 205, 205);
}

.header-background {
    background-color: rgb(194, 244, 244);
    color: black;
}

.navbar-collapse{
    background-color: rgb(24, 76, 24);
   
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.footer-background{
    background-color: rgb(24, 76, 24);
    height: 50px;
    color: white;
    padding-top: 10px;
}